@switch (flavor()) {
@case ('material') {
<mat-form-field class="w-full" hideRequiredMarker>
    <mat-label>
        {{element().label}}
        @if (element().required) { <span style="color: var(--uim-red-accent-color)">*</span> }
    </mat-label>
    <input matInput [type]="element().inputType || 'text'" [required]="element().required"
        [placeholder]="element().placeholder || ''" [ngModel]="element().value" (ngModelChange)="updateValue($event)" />
</mat-form-field>
}

@case ('tailwind') {
<div class="flex flex-col gap-2 w-full font-['Tomorrow']">
    <h3 class="text-sm font-medium text-(--uim-label-color)">
        {{element().label}}
        @if (element().required) { <span style="color: var(--uim-red-accent-color)">*</span> }
    </h3>
    <input [type]="element().inputType || 'text'" [placeholder]="element().placeholder || ''"
        [ngModel]="element().value" (ngModelChange)="updateValue($event)" class="w-full px-4 py-2 bg-(--uim-bg-input) border border-(--uim-border-color) rounded-(--uim-radius) 
        text-(--uim-text-color) placeholder:text-(--uim-placeholder-color) focus:outline-none focus:ring-2 
        focus:ring-(--uim-accent-glow) focus:border-(--uim-accent-color) transition-all shadow-sm" />
</div>
}

@case ('html') {
<div style="display: flex; flex-direction: column; gap: 8px; width: 100%; font-family: var(--uim-font);">
    <h3 style="font-size: 14px; font-weight: 500; color: var(--uim-label-color); margin: 0;">
        {{element().label}}
        @if (element().required) { <span style="color: var(--uim-red-accent-color);">*</span> }
    </h3>
    <input [type]="element().inputType || 'text'" [placeholder]="element().placeholder || ''"
        [ngModel]="element().value" (ngModelChange)="updateValue($event)"
        style="padding: 8px 16px; background: var(--uim-bg-input); border: 1px solid var(--uim-border-color); border-radius: var(--uim-radius); font-size: 14px; color: var(--uim-text-color); outline: none;" />
</div>
}
}