<section
  class="flex-1 bg-[radial-gradient(#ffffff05_1px,transparent_1px)] bg-size[30px_30px] flex flex-col overflow-hidden h-full relative">

  <div class="flex-1 flex flex-col gap-8 overflow-y-auto custom-scrollbar">

    <!-- Canvas Controls -->
    @if (viewMode() === 'editor') {
    <div class="sticky top-0 z-20 bg-[#020617]/95 backdrop-blur-md px-8 py-8 border-b border-white/5"
      [style.view-transition-name]="'canvas-controls'">
      <div class="max-w-6xl mx-auto w-full flex items-center justify-end shrink-0">
        <!-- Add Row Button (Right, Only in Editor) -->
        <button (click)="elementService.addRow()" class="flex items-center gap-2 btn btn-primary btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus text-sm">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
          </svg>
          Add Row
        </button>
      </div>
    </div>
    }

    @if (viewMode() === 'editor') {
    <app-element-editor />
    } @else {
    <app-element-preview />
    }
  </div>
</section>