@if (isOpen()) {
<div class="fixed inset-0 z-[100] flex items-center justify-center p-4 sm:p-6">
    <!-- Backdrop -->
    <div class="absolute inset-0 bg-black/80 backdrop-blur-sm animate-in fade-in duration-300" (click)="close.emit()">
    </div>

    <!-- Modal Content -->
    <div
        class="relative w-full max-w-5xl h-[85vh] bg-[#020617] border border-white/10 rounded-3xl shadow-2xl flex flex-col overflow-hidden animate-in zoom-in-95 duration-300">

        <!-- Main Header -->
        <header class="flex items-center justify-between px-8 py-5 border-b border-white/5 shrink-0 bg-white/[0.02]">
            <div class="flex items-center gap-6">
                <div class="flex items-center gap-4">
                    <div
                        class="w-12 h-12 rounded-xl bg-brand-gold/10 flex items-center justify-center border border-brand-gold/20">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-code text-brand-gold">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 8l-4 4l4 4" />
                            <path d="M17 8l4 4l-4 4" />
                            <path d="M14 4l-4 16" />
                        </svg>
                    </div>
                    <div>
                        <h2 class="text-2xl font-bold text-(--uim-accent-color)! tracking-tight leading-none mb-1">
                            Export Blueprint</h2>
                        <p class="text-[12px] text-white uppercase tracking-[0.2em] font-medium">By UiMolder</p>
                    </div>
                </div>

                <!-- <div class="h-8 w-px bg-white/10"></div> -->

                <!-- Active Flavor Beautified -->
                <!-- <div class="flex items-center gap-3 bg-white/5 px-4 py-1.5 rounded-xl border border-white/10">
                    <div class="w-10 h-10 flex items-center justify-center rounded-md"
                        [style.background]="flavorData().color + '22'">
                        <svg width="24" height="24" viewBox="0 0 24 24">
                            <path [attr.fill]="flavorData().color" [attr.d]="flavorData().icon"
                                class="transition-all duration-500" />
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1">
                        <span class="text-[12px] text-slate-500 font-semibold leading-none tracking-[0.2em]">Molding
                            Flavor</span>
                        <span class="text-[12px] text-brand-gold font-semibold leading-tighter tracking-[0.2em]">{{
                            flavorData().label }}</span>
                    </div>
                </div> -->
            </div>

            <button (click)="close.emit()"
                class="p-2 hover:bg-white/5 rounded-full text-slate-500 hover:text-white transition-colors">
                <mat-icon>close</mat-icon>
            </button>
        </header>

        <!-- Subheader: Configuration Bar -->
        <div
            class="flex items-center justify-between gap-12 px-8 py-4 bg-white/[0.01] border-b border-white/5 shrink-0">
            <!-- Style Selection -->
            <div class="flex flex-col gap-2">
                <span class="text-[12px] font-semibold text-slate-500 uppercase tracking-widest shrink-0">Style
                    Format</span>
                <mat-radio-group [(ngModel)]="styleType" class="flex gap-3">
                    <mat-radio-button value="scss" class="uimolder-radio small-radio">
                        <span class="text-[11px] text-slate-300 uppercase font-semibold">SCSS (Nested)</span>
                    </mat-radio-button>
                    <mat-radio-button value="css" class="uimolder-radio small-radio">
                        <span class="text-[11px] text-slate-300 uppercase font-semibold">CSS (Flat)</span>
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- Vertical Divider -->
            <div class="h-14 w-px bg-white/10"></div>

            <!-- External CSS Toggle -->
            <div class="flex flex-col gap-2">
                <span class="text-[12px] font-semibold text-slate-500 uppercase tracking-widest shrink-0">Storage</span>
                <mat-checkbox [(ngModel)]="useExternalCss" class="uimolder-checkbox">
                    <span class="text-[14px] text-slate-300 font-semibold">Extract code to
                        <span class="text-brand-gold">{{ stylesFileName }}</span>
                    </span>
                </mat-checkbox>
            </div>

            <!-- Vertical Divider -->
            <div class="h-14 w-px bg-white/10"></div>

            <!-- Active Flavor Beautified -->
            <div class="flex items-center gap-3 bg-white/5 px-4 py-1.5 rounded-xl border border-white/10">
                <div class="w-10 h-10 flex items-center justify-center rounded-md"
                    [style.background]="flavorData().color + '22'">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path [attr.fill]="flavorData().color" [attr.d]="flavorData().icon"
                            class="transition-all duration-500" />
                    </svg>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="text-[12px] text-slate-500 font-semibold leading-none tracking-[0.2em]">Molding
                        Flavor</span>
                    <span class="text-[12px] text-brand-gold font-semibold leading-tighter tracking-[0.2em]">{{
                        flavorData().label }}</span>
                </div>
            </div>
        </div>

        <!-- Tabs -->
        <div class="flex px-8 border-b border-white/5 shrink-0 bg-white/[0.01]">
            <button (click)="activeTab.set('ts')" [class.border-brand-gold]="activeTab() === 'ts'"
                [class.text-brand-gold]="activeTab() === 'ts'"
                class="px-6 py-4 text-xs font-semibold uppercase tracking-widest border-b-2 border-transparent transition-all hover:text-white">
                generated-layout.ts
            </button>
            @if (useExternalCss()) {
            <button (click)="activeTab.set('styles')" [class.border-brand-gold]="activeTab() === 'styles'"
                [class.text-brand-gold]="activeTab() === 'styles'"
                class="px-6 py-4 text-xs font-bold uppercase tracking-widest border-b-2 border-transparent transition-all hover:text-white">
                {{ stylesFileName }}
            </button>
            }
        </div>

        <!-- Code Preview -->
        <main class="flex-1 overflow-hidden relative bg-[#010409]">
            <pre class="h-full p-8 overflow-auto text-sm font-mono text-slate-300 custom-scrollbar leading-relaxed">
                <code class="block whitespace-pre-wrap wrap-break-word">{{ activeTab() === 'ts' ? generatedCode().ts : generatedCode().styles }}</code>
            </pre>

            <!-- Actions Overlay -->
            <div class="absolute bottom-8 right-8">
                <button (click)="downloadFile()" class="btn btn-primary btn-md gap-3 shadow-xl">
                    <mat-icon class="text-lg">download</mat-icon>
                    DOWNLOAD FILE
                </button>
            </div>
        </main>
    </div>
</div>
}