:host {
    display: contents;
}

.uimolder-checkbox, .uimolder-radio {
    ::ng-deep {
        .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
        .mdc-radio__native-control:enabled:checked ~ .mdc-radio__background .mdc-radio__outer-circle {
            background-color: var(--uim-accent-color) !important;
            border-color: var(--uim-accent-color) !important;
        }
        .mdc-radio__inner-circle {
            background-color: #000 !important;
        }
        .mdc-label {
            font-family: 'Tomorrow', sans-serif !important;
        }
    }
}

/* Specific styling for subheader controls */
.small-radio, .small-checkbox {
    ::ng-deep {
        .mdc-form-field {
            padding: 0 !important;
        }
        .mdc-radio, .mdc-checkbox {
            padding: 8px !important;
            transform: scale(0.85);
        }
    }
}

pre {
    background: radial-gradient(circle at top left, rgba(251, 191, 36, 0.03), transparent 40%);
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}
