@switch (flavor()) {
@case ('material') {
<div class="flex w-full" [class.justify-start]="element().textAlign === 'left'"
    [class.justify-center]="element().textAlign === 'center'" [class.justify-end]="element().textAlign === 'right'">
    <div class="flex gap-4">
        @if (element().showCancel) {
        <button type="button" class="btn btn-outline btn-md rounded-full">
            {{element().cancelLabel || 'Cancel'}}
        </button>
        }
        <button type="submit" class="btn btn-primary btn-md rounded-full">
            {{element().submitLabel || 'Submit'}}
        </button>
    </div>
</div>
}

@case ('tailwind') {
<div class="flex w-full" [class.justify-start]="element().textAlign === 'left'"
    [class.justify-center]="element().textAlign === 'center'" [class.justify-end]="element().textAlign === 'right'">
    <div class="flex gap-4 font-['Tomorrow']">
        @if (element().showCancel) {
        <button type="button" class="btn btn-outline btn-md rounded-full">
            {{element().cancelLabel || 'CANCEL'}}
        </button>
        }
        <button type="submit" class="btn btn-primary btn-md rounded-full">
            {{element().submitLabel || 'SUBMIT'}}
        </button>
    </div>
</div>
}

@case ('html') {
<div [style.display]="'flex'" [style.width]="'100%'"
    [style.justify-content]="element().textAlign === 'left' ? 'flex-start' : (element().textAlign === 'center' ? 'center' : 'flex-end')">
    <div style="display: flex; gap: 16px; font-family: var(--uim-font);">
        @if (element().showCancel) {
        <button type="button" class="btn btn-outline btn-md rounded-full">
            {{element().cancelLabel || 'Cancel'}}
        </button>
        }
        <button type="submit" class="btn btn-primary btn-md rounded-full">
            {{element().submitLabel || 'Submit'}}
        </button>
    </div>
</div>
}
}