:host {
    display: block;
    width: 100%;
}

.cdk-drop-list-receiving {
    background-color: rgba(251, 191, 36, 0.05);
    transition: background-color 0.2s ease;
}

.cdk-drag-placeholder {
    opacity: 0.3;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
