<div class="h-screen flex flex-col bg-[#020617] text-slate-300 font-['Tomorrow']"
  [ngStyle]="{ 'padding-top': headerHeight() + 'px' }">

  <header
    class="h-16 border-b border-white/5 bg-canvas/60 backdrop-blur-xl flex items-center justify-between px-8 shrink-0 relative [view-transition-name:top-header] z-100">
    <!-- Left Placeholder for centering -->
    <div class="w-48 hidden md:block"></div>

    <!-- Centered Flavor Selector -->
    <div
      class="flex items-center gap-4 px-4 py-2 rounded-xl border border-white/10 bg-white/5 backdrop-blur-xl animate-in fade-in duration-300">
      @for (flavor of flavors; track flavor.name) {
      <button (click)="activeFlavor.set(flavor.name)"
        class="flex items-center gap-2 text-sm font-medium transition-all px-3 py-1 rounded-lg" [ngClass]="{
                  'bg-white/10 backdrop-blur-md': activeFlavor() === flavor.name
              }">
        <svg width="20" height="20" viewBox="0 0 24 24">
          <path [attr.fill]="activeFlavor() === flavor.name ? flavor.color : 'rgba(255,255,255,0.5)'"
            [attr.d]="flavor.iconPath" />
        </svg>
        <span [style.color]="activeFlavor() === flavor.name ? flavor.color : 'rgb(148 163 184)'">{{
          flavor.label }}</span>
      </button>
      }
    </div>

    <!-- Right Side Export -->
    <div class="w-48 flex justify-end">
      <button (click)="exportLayout()" class="flex items-center gap-2 btn btn-primary btn-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-download text-[18px]">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
          <path d="M7 11l5 5l5 -5" />
          <path d="M12 4l0 12" />
        </svg>
        Export Layout
      </button>
    </div>
  </header>

  <div class="flex flex-1 overflow-hidden">
    <!-- Modular Sidebar Menu -->
    <app-elements-menu class="shrink-0" />

    <!-- Modular Canvas area -->
    <app-elements-canvas class="flex-1 overflow-hidden" (addRow)="addNewRow()" (removeRowAction)="removeRow($event)"
      (removeItemAction)="removeItem($event)" (selectElement)="selectedElementId.set($event)" />

    <!-- Modular Right Sidebar / Settings -->
    <app-elements-settings class="shrink-0" />
  </div>

  <app-export-modal [isOpen]="isExportOpen()" (close)="isExportOpen.set(false)" />
</div>