<div class="py-5">
    @for(row of elementService.rows(); track row.id) {
    <div cdkDropList [id]="row.id" [cdkDropListData]="row.id" (cdkDropListDropped)="onDropInRow($event, row.id)"
        [cdkDropListOrientation]="'horizontal'"
        [cdkDropListConnectedTo]="elementService.allContainerIds().concat('element-selector')"
        [style.view-transition-name]="'row-' + row.id"
        class="relative z-[1] isolate contain-paint p-5 mb-4 ps-10 bg-[radial-gradient(#ffffff05_1px,transparent_1px)] bg-size[30px_30px] rounded-lg border-2 border-dashed border-slate-800">

        <div class="flex justify-between items-center my-2">
            <span class="text-[11px] font-medium text-slate-500 uppercase tracking-widest">Row</span>
            @if(elementService.rows().length > 1) {
            <button (click)="elementService.deleteRow(row.id)"
                class="p-1 rounded-full text-slate-500 hover:text-red-500 transition-colors hover:bg-red-500/30">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </button>
            }
        </div>
        <div class="flex flex-wrap gap-4 min-h-20">
            @for (element of row.elements; track element.id) {
            <app-element-form-field cdkDrag [cdkDragData]="element"
                (cdkDragStarted)="elementService.currentlyDraggedItem.set(element)"
                (cdkDragEnded)="elementService.currentlyDraggedItem.set(null)" class="flex-1 cursor-pointer min-w-50"
                [style.view-transition-name]="'element-' + element.id"
                [style.view-transition-class]="'element-transition'" [element]="element" />
            } @empty{
            <div
                class="w-full p-4 border border-dashed border-slate-700 rounded-xl flex items-center justify-center pointer-events-none">
                <p class="text-[12px] font-medium text-slate-600 text-center italic">Drag & Drop elements
                    here</p>
            </div>
            }
        </div>
        <div class="absolute left-1 flex flex-col gap-3 top-1/2 -translate-y-1/2">
            <button [disabled]="$first" (click)="elementService.moveRowUp(row.id)" class="p-1 rounded-full transition-colors 
           hover:bg-slate-500/30 
           disabled:opacity-30 disabled:cursor-not-allowed disabled:hover:bg-transparent">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 15l6 -6l6 6" />
                </svg>
            </button>
            <button [disabled]="$last" (click)="elementService.moveRowDown(row.id)" class="p-1 rounded-full transition-colors 
           hover:bg-slate-500/30 
           disabled:opacity-30 disabled:cursor-not-allowed disabled:hover:bg-transparent">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 9l6 6l6 -6" />
                </svg>
            </button>
        </div>
    </div>
    }
</div>